:root{
  --background-color-footer: #196e5a;
  --text-color-footer: #fff;
  --hover-button-footer: #62ad9b;
}
.dark-mode{
  --background-color-footer: #0c372d;
  --text-color-footer: #d2e8e2;
  --hover-button-footer: #135343;
}

.footer-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid-footer {
  display: grid;
  align-items: center;
}

.grid--4-cols-footer{
  grid-template-columns: 1fr 2fr 2fr 2fr;
  align-items: center;
  justify-content: center;
  padding: 3.2rem;
}

footer {
    background-color: var(--background-color-footer);
    padding: 1rem;
    text-align: center;
    color: var(--text-color-footer);
  }
  
  .footer-nav-link:link,
  .footer-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color-footer);
    font-weight: 500;
    font-size: 1.4rem;
    transition: all 0.3s;
    margin: 0.3rem 0;
  }
  
  .footer-nav-link:hover,
  .footer-nav-link:active {
    color: var(--hover-button-footer);
  }
  
  .footer-text{
    font-size: 1.2rem;
    margin: 1.2rem 0;
    text-align: center;
  }
  
  .footer-content {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-column {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .footer-logo{
    width: 100%;
  }