@media (max-width: 85em) {
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 2.4rem;
  }
}

@media (max-width: 58em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 52em) {
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: var(--tints-color-header);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .main-nav {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .nav-open .btn-mobile-nav {
    z-index: 3;
  }
  .nav-open .close-outline {
    display: block;
  }
  .nav-open .menu-outline {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited,
  .nav-cta {
    font-size: 3rem;
  }
  .language-icon {
    width: 4.8rem;
    height: 4.8rem;
  }
  .nav-open .container-checkbox {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .animal-card {
    pointer-events: none;
    visibility: hidden;
  }
}

@media (max-width: 39em) {
  .header-search {
    gap: 0.4rem;
  }
  .header{
    padding: 0 0.8rem;
  }
  .search-bar {
    width: 100%;
  }
}
